<div class="widget">
  <h5 class="widget-name">仓库库存信息</h5>

  <div class="navbar">
    <div class="navbar-inner"><h5>库存列表</h5></div>
  </div>
  <div class="well body">
    <table class="table">
      <thead>
      <tr>
        <th>仓库</th>
        <th>物品名称</th>
        <th>品目</th>
        <th>规格</th>
        <th>批次</th>
        <th>生产日期</th>
        <th>保质期</th>
        <th>库存</th>
        <th>供应商</th>
        <th>入库时间</th>
        <th>执行人</th>
        <th>状态</th>
      </tr>
      </thead>

      <tbody>
      <% @go_down_items.each do |go_down_item| %>
          <tr>
            <td><%= GoDown.find(go_down_item.GoDown_id).Name %></td>
            <% @item = Item.find(go_down_item.Item_id) %>
            <td><%= @item.Name %></td>
            <td><%= @item.CategoryName %></td>
            <td><%= @item.subCategoryName %></td>
            <td><%= go_down_item.BatchId %></td>
            <td><%= go_down_item.CreateTime %></td>
            <td><%= go_down_item.ShelfLife %></td>
            <td><%= go_down_item.Sum %></td>
            <td><%= go_down_item.MadeIn %></td>
            <td><%= go_down_item.InTime %></td>
            <td><%= go_down_item.Execer %></td>
            <td><%= go_down_item.State %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

