<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @go_down_item.Order_id %>
</p>

<p>
  <strong>Godown:</strong>
  <%= @go_down_item.GoDown_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @go_down_item.Item_id %>
</p>

<p>
  <strong>Createtime:</strong>
  <%= @go_down_item.CreateTime %>
</p>

<p>
  <strong>Shelflife:</strong>
  <%= @go_down_item.ShelfLife %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @go_down_item.Sum %>
</p>

<p>
  <strong>Batchid:</strong>
  <%= @go_down_item.BatchId %>
</p>

<p>
  <strong>Madein:</strong>
  <%= @go_down_item.MadeIn %>
</p>

<p>
  <strong>Intime:</strong>
  <%= @go_down_item.InTime %>
</p>

<p>
  <strong>Execer:</strong>
  <%= @go_down_item.Execer %>
</p>

<p>
  <strong>State:</strong>
  <%= @go_down_item.State %>
</p>

<%= link_to 'Edit', edit_go_down_item_path(@go_down_item) %> |
<%= link_to 'Back', go_down_items_path %>
