<style>
    select {
        width: 170px;
    }
    .table input[type="text"] {
        width: 80px;
    }

</style>
<div class="row-fluid">
  <%= form_for(@purchase_order) do |f| %>
      <% if @purchase_order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
              <% @order.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="nav">
        <div class="navbar-inner"><h6>新建采购订单</h6></div>
      </div>
      <div class="well-white body">
        <div class="widget">
          <div class="span3">
            <div class="input-prepend">
              <span class="add-on">订单编号： </span>
              <%= f.text_field :OrderId ,{:Class=> "input-medium"} %>
            </div>
          </div>
          <div class="span3">
            <div class="input-prepend">
              <span class="add-on">供货商： </span>
              <%= f.select :From, @providers.map { |c| [c.name, c.id] } %>
            </div>
          </div>
        </div>

      </div>
      <div class="well-white body">
        <table class="table">
          <thead>
          <tr>
            <th>序号</th>
            <th>物品名称</th>
            <th>品目</th>
            <th>型号</th>
            <th>参考价格</th>
            <th>实际进货价</th>
            <th>数量</th>
            <th>仓库</th>
          </tr>
          </thead>
          <tbody>
          <% for x in 1..10 %>
              <tr id="<%= x %>">
                <td><%= x %><%= hidden_field "itemline#{x}", "Item_id" %></td>
                <td><select id="itemNo<%= x %>" class="items" rowid="<%= x %>">
                  <option value="请选择">请选择</option>
                </select></td>
                <td><input type="text" id="category<%= x %>" readonly="true"></td>
                <td><input type="text" id="subcategory<%= x %>" readonly="true"></td>
                <td><input type="text" id="saleprice<%= x %>" readonly="true"></td>
                <td><div><%= text_field "itemline#{x}", "FactSalePrice" %></div></td>
                <td><div><%= text_field "itemline#{x}", "Sum" %></div></td>
                <td><%= select("itemline#{x}", "GoDown_id", @GoDwons.map { |c| [c.Name, c.id] }) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <input type="hidden" id="itemscount" value="0">

        <div class="align-center">
          <%= f.submit("新建", {:Class => "btn btn-primary"}) %>
        </div>
      </div>

      </div>
  <% end %>
  <script>
      $(document).ready(function () {
          iniItems();
          $("input[type=submit]").click(function(){
              var haserror = false;
              var hasselect = false;
              $(".items").each(function(){
                  var id =$(this).attr("rowid");
                  var itemid= $("#itemline" + id + "_Item_id").val();
                  debugger;
                  if(itemid != "")
                  {
                      hasselect = true;
                      if($("#itemline"+ id + "_FactSalePrice").val() =="")
                      {
                          $("#itemline"+ id + "_FactSalePrice").parent().addClass("control-group error");
                          haserror = true;
                      }
                      else
                      {
                          $("#itemline"+ id + "_FactSalePrice").parent().removeClass("control-group error");
                      }
                      if($("#itemline"+ id + "_Sum").val() =="")
                      {
                          $("#itemline"+ id + "_Sum").parent().addClass("control-group error");
                          haserror = true;
                      }
                      else
                      {
                          $("#itemline"+ id + "_Sum").parent().removeClass("control-group error");
                      }
                  }

              });
              if(!hasselect)
              {
                  haserror = true;
                  $("#itemNo1").parent().addClass("control-group error");
              }
              else
              {
                  $("#itemNo1").parent().removeClass("control-group error");
              }
              debugger;
              if(haserror)
              {
                  return false;
              }
              else
              {
                  return true;
              }


          });
      });
  </script>

