<h1>待入库列表</h1>
<hr>

<% GoDown.all.each do |goDow| %>
    <h2><%= goDow.Name %></h2>
    <table>
      <tr>
        <th>订单编号</th>
        <th>订单名称</th>
        <th>创建时间</th>
        <th>创建人</th>
        <th>执行时间</th>
        <th>执行人</th>
        <th>状态</th>
        <th></th>
      </tr>
      <% SubOrder.where(:GoDown_id=>goDow.id).select(:Order_id).map(&:Order_id).uniq.each do|orderid| %>
          <% @order =Order.find(orderid) %>
          <% if @order.Type== "1" %>
              <tr>
                <td><%= @order.OrderId %></td>
                <td><%= @order.Name %></td>
                <td><%= @order.CreateTime %></td>
                <td><%= @order.CreateUser %></td>
                <td><%= @order.ExecTime %></td>
                <td><%= @order.Execer %></td>
                <td><%= @order.State %></td>
                <td><a href="../In/?orderid=<%=orderid%>&godownid=<%=goDow.id %>">执行入库</a></td>
              </tr>
           <% end %>
      <%end%>

    </table>
<% end %>
