<h1>Listing info_customer_fin_dtls</h1>

<table>
  <thead>
    <tr>
      <th>Customer fin</th>
      <th>Do time</th>
      <th>In or out</th>
      <th>Money</th>
      <th>Cfd</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @info_customer_fin_dtls.each do |info_customer_fin_dtl| %>
      <tr>
        <td><%= info_customer_fin_dtl.customer_fin_id %></td>
        <td><%= info_customer_fin_dtl.do_time %></td>
        <td><%= info_customer_fin_dtl.in_or_out %></td>
        <td><%= info_customer_fin_dtl.money %></td>
        <td><%= info_customer_fin_dtl.cfd_id %></td>
        <td><%= info_customer_fin_dtl.status_id %></td>
        <td><%= link_to 'Show', info_customer_fin_dtl %></td>
        <td><%= link_to 'Edit', edit_info_customer_fin_dtl_path(info_customer_fin_dtl) %></td>
        <td><%= link_to 'Destroy', info_customer_fin_dtl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer fin dtl', new_info_customer_fin_dtl_path %>
