<p id="notice"><%= notice %></p>

<p>
  <strong>Customer fin:</strong>
  <%= @info_customer_fin_dtl.customer_fin_id %>
</p>

<p>
  <strong>Do time:</strong>
  <%= @info_customer_fin_dtl.do_time %>
</p>

<p>
  <strong>In or out:</strong>
  <%= @info_customer_fin_dtl.in_or_out %>
</p>

<p>
  <strong>Money:</strong>
  <%= @info_customer_fin_dtl.money %>
</p>

<p>
  <strong>Cfd:</strong>
  <%= @info_customer_fin_dtl.cfd_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @info_customer_fin_dtl.status_id %>
</p>

<%= link_to 'Edit', edit_info_customer_fin_dtl_path(@info_customer_fin_dtl) %> |
<%= link_to 'Back', info_customer_fin_dtls_path %>
