<%= form_tag(out_orders_outgodown_path) do |f| %>
    <% if @out_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@out_order.errors.count, "error") %> prohibited this out_order from being saved:</h2>

          <ul>
            <% @out_order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row-fluid">
      <div class="right-content span10">
        <div class="nav">
          <%= hidden_field :out_order, :id %>
          <div class="navbar-inner">
            <h3 class="row-fluid">
              <span class="span4"><b>出库单：</b><%= @out_order.OutOrderId %></span>
              <span class="span4"><b>仓库：</b><%= @gd.Name %></span>
            </h3>
          </div>
          <div class="well-white body">
            <div class="nav">
              <div class="navbar-inner">
                <h6 class="row-fluid">
                  <div class="span3"><span class=""> 订单编号：<%= @order.OrderId %></span></div>
                  <div class="span3"><span class="">状态：<%= @order.State %></span></div>
                  <div class="span3"><span class="">创建时间：<%= @order.CreateTime %></span></div>
                  <div class="span3"><span class="">创建人：<%= @order.CreateUser %></span></div>
                </h6>
              </div>
            </div>
            <div class="well-white body">
              <table class="table">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>物品名称</th>
                  <th>规格</th>
                  <th>型号</th>
                  <th>批次号</th>
                  <th>生成日期</th>
                  <th>数量</th>
                  <th>实际出库数量</th>
                </tr>
                </thead>

                <tbody>
                <% i=1 %>
                <% @o_order_items.each do |o_order_item| %>
                    <tr>
                      <td><%= i %>
                        <input type="hidden" id="itemline<%= i %>_out_item_id" name="itemline<%= i %>[out_item_id]" value="<%= o_order_item.id %>">
                      </td>
                      <% @item = Item.find(o_order_item.Item_id) %>
                      <td><%= @item.Name %></td>
                      <td><%= @item.CategoryName %></td>
                      <td><%= @item.subCategoryName %></td>
                      <td><%= o_order_item.BatchId %></td>
                      <td><%= o_order_item.CreateTime %></td>
                      <td><%= o_order_item.Sum %></td>
                      <td><%= number_field "itemline#{i}", "Sum", {:Class => "input-mini align-center", :min => "0", :max => o_order_item.Sum} %></td>
                    </tr>
                    <% i =i+1 %>
                <% end %>
                </tbody>
              </table>
              <div class="align-center">
                <input type="submit" value="出库" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>