<p>
  <strong>Logo:</strong>
  <%= @origin_site.logo %>
</p>

<p>
  <strong>Title:</strong>
  <%= @origin_site.title %>
</p>

<p>
  <strong>Isauthorize:</strong>
  <%= @origin_site.isAuthorize %>
</p>

<p>
  <strong>Isrole:</strong>
  <%= @origin_site.isRole %>
</p>

<p>
  <strong>Issidebar:</strong>
  <%= @origin_site.isSidebar %>
</p>

<p>
  <strong>Istopbar:</strong>
  <%= @origin_site.isTopbar %>
</p>

<p>
  <strong>Isnavbar:</strong>
  <%= @origin_site.isNavbar %>
</p>

<%= link_to 'Edit', origin_edit_site_path %> |
<%= link_to 'Back', origin_site_path %>
