<h1>Listing origin_roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adminflag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @origin_roles.each do |origin_role| %>
      <tr>
        <td><%= origin_role.name %></td>
        <td><%= origin_role.adminFlag %></td>
        <td><%= link_to 'Show', origin_role %></td>
        <td><%= link_to 'Edit', edit_origin_role_path(origin_role) %></td>
        <td><%= link_to 'Destroy', origin_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_origin_role_path %>
