<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div class="well-white body">
          <div class="nav">
            <div class="navbar-inner">
              <h6><strong><span class="badge badge-important"><%= @user.errors.count %></span>个验证条件没有通过</strong>
              </h6>
            </div>
          </div>
          <div class="well-white body">
            <ul class="alert alert-error">
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <table class="table">
      <tr>
        <td>用户名</td>
        <td> <%= f.text_field :name, :size => 40 %></td>
      </tr>
      <tr>
        <td>密码</td>
        <td>  <%= f.password_field :password, :size => 40 %></td>
      </tr>
      <tr>
        <td>重复密码</td>
        <td>  <%= f.password_field :password_confirmation, :size => 40 %></td>
      </tr>
    </table>
    <div class="align-center">
      <%= f.submit("确定", {:Class => "btn btn-primary"}) %>
    </div>

<% end %>