<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="row-fluid">
  <div class="right-content span5">
    <div class="nav">
      <div class="navbar-inner"><h6>用户列表</h6></div>
    </div>
    <div class="well-white body">

      <table class="table">
        <thead>
        <tr>
          <th>用户名</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= link_to '查看', user %>&nbsp;<%= link_to '编辑', edit_user_path(user) %>&nbsp;<%= link_to '删除', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="align-center">
        <%= link_to '新建用户', new_user_path, {:Class => "btn btn-primary"} %>
      </div>
    </div>
  </div>
</div>

