<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="right-content span4">
    <div class="nav">
      <div class="navbar-inner"><h6>仓库信息</h6></div>
    </div>
    <div class="well-white body">
      <table class="table">
        <tr>
          <td>仓库编号:</td>
          <td>  <%= @go_down.GoDownId %></td>
        </tr>
        <tr>
          <td>仓库名称:</td>
          <td> <%= @go_down.Name %></td>
        </tr>

        <tr>
          <td> 地址：</td>
          <td>      <%= @go_down.Address %></td>
        </tr>
        <tr>
          <td> 管理员:</td>
          <td>  <%= @go_down.Admin %></td>
        </tr>
        <tr>
          <td> 电话:</td>
          <td>  <%= @go_down.Tel %></td>
        </tr>
      </table>
    </div>
  </div>
</div>