<p id="notice"><%= notice %></p>

<p>
  <strong>Baseorder:</strong>
  <%= @billhi.BaseOrder_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @billhi.Total %>
</p>

<p>
  <strong>From:</strong>
  <%= @billhi.From %>
</p>

<p>
  <strong>Fromaddress:</strong>
  <%= @billhi.FromAddress %>
</p>

<p>
  <strong>From back:</strong>
  <%= @billhi.From_Back %>
</p>

<p>
  <strong>From backaccountnum:</strong>
  <%= @billhi.From_BackAccountNum %>
</p>

<p>
  <strong>From backaccountname:</strong>
  <%= @billhi.From_BackAccountName %>
</p>

<p>
  <strong>To:</strong>
  <%= @billhi.To %>
</p>

<p>
  <strong>Toaddress:</strong>
  <%= @billhi.ToAddress %>
</p>

<p>
  <strong>To back:</strong>
  <%= @billhi.To_Back %>
</p>

<p>
  <strong>To backaccountnum:</strong>
  <%= @billhi.To_BackAccountNum %>
</p>

<p>
  <strong>To backaccountname:</strong>
  <%= @billhi.To_BackAccountName %>
</p>

<p>
  <strong>Excetime:</strong>
  <%= @billhi.ExceTime %>
</p>

<p>
  <strong>Exceuser:</strong>
  <%= @billhi.ExceUser %>
</p>

<%= link_to 'Edit', edit_billhi_path(@billhi) %> |
<%= link_to 'Back', billhis_path %>
