<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @info_customer.cid %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @info_customer.shortName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @info_customer.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @info_customer.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info_customer.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @info_customer.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @info_customer.fax %>
</p>

<p>
  <strong>Address:</strong>
  <%= @info_customer.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @info_customer.zip %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @info_customer.bank %>
</p>

<p>
  <strong>Bankaccountnum:</strong>
  <%= @info_customer.bankAccountNum %>
</p>

<p>
  <strong>Bankaccountname:</strong>
  <%= @info_customer.bankAccountName %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @info_customer.deposit %>
</p>

<p>
  <strong>Alarmmoney:</strong>
  <%= @info_customer.alarmMoney %>
</p>

<p>
  <strong>Paytype:</strong>
  <%= @info_customer.payType %>
</p>

<p>
  <strong>Rebateflag:</strong>
  <%= @info_customer.rebateFlag %>
</p>

<p>
  <strong>Upper:</strong>
  <%= @info_customer.upper_id %>
</p>

<p>
  <strong>Lower:</strong>
  <%= @info_customer.lower_id %>
</p>

<%= link_to 'Edit', edit_info_customer_path(@info_customer) %> |
<%= link_to 'Back', info_customers_path %>
