<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <ul class="main">
        <li>类型： <%= select(:order,:Type, [['采购',"1"], ['销售', "2"]]) %> </li>
      <li>  订单编号： <%= f.text_field :OrderId %></li>
      <li>名称： <%= f.text_field :Name %></li>
      <div class="clear"></div>
    </ul>
    <hr/>
    <ul>
      <li style="list-style-type:none">
        <table>
          <thead>
          <tr>
            <th>序号</th>
            <th>类型</th>
            <th>物品名称</th>
            <th>品目</th>
            <th>型号</th>
            <th>数量</th>
            <th>仓库</th>
          </tr>
          </thead>
          <tbody>
          <% for x in 1..10 %>
              <tr id="<%=x%>">
                <td><%=x%><%= hidden_field "itemline#{x}","ItemNo" %></td>
                <td>
                  <select id="type<%=x%>" class="item_Type" rowid="<%=x%>">
                      <option value="请选择">请选择</option>
                      <option value="原料">原料</option>
                      <option value="产品">产品</option>
                    </select>
                </td>
                <td><select id="itemNo<%=x%>" class="items"  rowid="<%=x%>"> <option value="请选择">请选择</option></select></td>
                <td><input type="text" id="category<%=x%>" readonly="true"></td>
                <td><input type="text" id="subcategory<%=x%>" readonly="true"></td>
                <td><%= text_field "itemline#{x}","Sum" %></td>
                <td><%= select("itemline#{x}","GoDownId",@GoDwons.map{|c| [c.Name, c.GoDownId]}) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </li>
    </ul>
    <hr/>
   <div><input type="hidden" id="itemscount" value ="0"><%= f.submit %></div>
<% end %>
<script>
  $(document).ready(function(){
      iniItems();
  });
</script>