<table class="table">
  <thead>
  <tr>
    <th>序号</th>
    <th>物品名称</th>
    <th>规格</th>
    <th>型号</th>
    <th>数量</th>
    <th>仓库</th>
  </tr>
  </thead>

  <tbody>
  <% i=1 %>
  <% @sub_orders.each do |sub_order| %>
      <tr>
        <td><%= i %></td>
        <% @item = Item.find(sub_order.Item_id) %>
        <td><%= @item.Name %></td>
        <td><%= @item.CategoryName %></td>
        <td><%= @item.subCategoryName %></td>
        <td><%= sub_order.Sum %></td>
        <td><%= GoDown.find(sub_order.GoDown_id).Name %></td>
      </tr>
      <% i =i+1 %>
  <% end %>
  </tbody>

</table>