<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="right-content span10">
    <div class="nav">
      <div class="navbar-inner"><h6>销售订单</h6></div>
    </div>
    <div class="well-white body">
      <div class="row-fluid">
        <div class="widget">
          <div class="span2">
            <div class="input-prepend">
              <span class="add-on">订单编号： </span>
              <%= text_field :order, :OrderId, {:disabled => "disabled"} %>
            </div>
          </div>
          <div class="span2">
            <div class="input-prepend">
              <span class="add-on">订单名称： </span>
              <%= text_field :order, :Name, {:disabled => "disabled"} %>
            </div>
          </div>
          <div class="span2">
            <div class="input-prepend">
              <span class="add-on"> 状态：</span>
              <%= text_field :order, :State, {:disabled => "disabled"} %>
            </div>
          </div>
          <div class="span2">
            <div class="input-prepend">
              <span class="add-on"> 创建人：</span>
              <%= text_field :order, :CreateUser, {:disabled => "disabled"} %>
            </div>
          </div>
          <div class="span2">
            <div class="input-prepend">
              <span class="add-on"> 创建时间：</span>
              <%= text_field :order, :CreateTime, {:disabled => "disabled"} %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'orders/sub' %>

      <% if @order.State=="新建" %>
        <div class="align-center"> <%= link_to @urlName, "/orders/split/#{@order.id}",{:Class=>"btn btn-primary"} %></div>
      <% end %>
    </div>
  </div>
</div>

