<h1>入库单列表</h1>
<hr/>
<% @Orders.each do |order| %>
    <h3>订单编号：<a href="/in_orders/<%= order.id %>"><%=order.OrderId%> </a> 订单名称：<a href="/in_orders/<%= order.id %>"><%= order.Name %></a> 状态：<%= order.State %> 创建时间：<%= order.CreateTime %> 创建人：<%= order.CreateUser %>  </h3>
        <table>
            <tr>
              <th>入库单编号</th>
              <th>仓库名称</th>
              <th>执行时间</th>
              <th>执行人</th>
              <th>状态</th>
            </tr>
          <% InOrder.where(:Order_id => order.id).each do|inorder| %>
            <tr>
              <td><%= inorder.InOrderId %></td>
              <td><%= GoDown.find(inorder.GoDown_id).Name %></td>
              <td><%= inorder.ExecTime %></td>
              <td><%= inorder.Execer %></td>
              <td>
                 <% if inorder.State == "新建" %>
                    <a href="/in_orders/exec/<%= inorder.id %>">执行入库</a>
                    <% else %>
                    <%= inorder.State %>
                    <% end %>
              </td>
            </tr>
          <% end %>
        </table>
<% end %>

