<h3>订单编号：<a href="/in_orders/<%= @order.id %>"><%=@order.OrderId%> </a> 订单名称：<a href="/in_orders/<%= @order.id %>"><%= @order.Name %></a> 创建时间：<%= @order.CreateTime %> 创建人：<%= @order.CreateUser %>  </h3>
    <table>
      <tr>
        <th>入库单编号</th>
        <th>订单编号</th>
        <th>订单名称</th>
        <th>创建时间</th>
        <th>创建人</th>
        <th>执行时间</th>
        <th>执行人</th>
        <th>状态</th>
        <th></th>
      </tr>
      <% @in_orders.each do|inorder| %>
              <tr>
                <td><%= inorder.InOrderId %></td>
                <td><%= @order.OrderId %></td>
                <td><%= @order.Name %></td>
                <td><%= @order.CreateTime %></td>
                <td><%= @order.CreateUser %></td>
                <td><%= @order.ExecTime %></td>
                <td><%= @order.Execer %></td>
                <td>
                  <a href="/in_orders/exec/<%= inorder.id %>">执行入库</a>
                </td>
              </tr>
          <%end%>
    </table>

