<p id="notice"><%= notice %></p>

<p>
  <strong>Categoryid:</strong>
  <%= @sub_category.CategoryId %>
</p>

<p>
  <strong>Categoryname:</strong>
  <%= @sub_category.CategoryName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sub_category.Name %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>
