<div class="row-fluid">
  <div class="right-content span8">
    <div class="nav">
      <div class="navbar-inner"><h6><b>物品配置</b></h6></div>
    </div>
    <div class="well-white body">
      <table class="table">
        <thead>
        <tr>
          <th>物品编号</th>
          <th>名称</th>
          <th>类型</th>
          <th>品目</th>
          <th>型号</th>
          <th>成本价</th>
          <th>销售价</th>
          <th>折扣</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @items.each do |item| %>
            <tr>
              <td><%= item.ItemId %></td>
              <td><%= item.Name %></td>
              <td><%= item.Type %></td>
              <td><%= item.CategoryName %></td>
              <td><%= item.subCategoryName %></td>
              <td><%= item.BasePrice %></td>
              <td><%= item.SalePrice%></td>
              <td><%= item.Discount%></td>
              <td><%= link_to '查看', item %>&nbsp;<%= link_to '编辑', edit_item_path(item) %>&nbsp;<%= link_to '删除', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="align-center">
        <%= link_to '新增物品', new_item_path, {:class => "btn btn-primary"} %>
      </div>
    </div>
  </div>
</div>