<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="right-content span5">
    <div class="nav">
      <div class="navbar-inner"><h6>添加物品</h6></div>
    </div>
    <div class="well-white body">
      <table class="table">
        <tr>
          <td>物品编号：</td>
          <td> <%= @item.ItemId %></td>
        </tr>
        <tr>
          <td> 名称：</td>
          <td>    <%= @item.Name %></td>
        </tr>
        <tr>
          <td> 类型(原料|产品):</td>
          <td>   <%= @item.Type %></td>
        </tr>
        <tr>
          <td> 品目：</td>
          <td>  <%= @item.CategoryName %></td>
        </tr>
        <tr>
        <td>型号：</td>
        <td> <%= @item.subCategoryName %></td>
      </tr>
        <tr>
          <td>成本价：</td>
          <td> <%= @item.BasePrice %></td>
        </tr>
        <tr>
          <td>销售价：</td>
          <td> <%= @item.SalePrice %></td>
        </tr>
        <tr>
          <td>打折：</td>
          <td> <%= @item.Discount %></td>
        </tr>
      </table>
    </div>
  </div>
</div>