<div class="row-fluid">
  <div class="right-content span6">
    <div class="nav">
      <div class="navbar-inner"><h6><b>生产流水管理</b></h6></div>
    </div>
    <div class="well-white body">
      <table class="table">
        <thead>
        <tr>
          <th>流水号</th>
          <th>生产日期</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @batches.each do |batch| %>
            <tr>
              <td><%= batch.Batchid %></td>
              <td><%= batch.Date %></td>
              <td><%= link_to '查看', batch %>&nbsp;<%= link_to '编辑', edit_batch_path(batch) %>&nbsp;<%= link_to '删除', batch, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="align-center">
        <%= link_to '新建流水', new_batch_path, {:class => "btn btn-primary"} %>
      </div>

    </div>
  </div>
</div>