<%= form_for(@origin_user, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @origin_user.errors.any? %>
    <script type="text/javascript">
      $.jGrowl('<% @origin_user.errors.full_messages.each do |message| %><%= message %><br/><% end %>', {
        theme: 'growl-error',
        header: '保存失败',
        sticky: true
      });
    </script>
  <% end %>

  <fieldset>

    <div class="widget row-fluid">
      <div class="navbar">
        <div class="navbar-inner">
          <h6>用户表单</h6>
        </div>
      </div>
      <div class="well">
        <div class="control-group">
          <%= f.label :name, '用户名：', :class => 'control-label' %>
          <div class="controls"><%= f.text_field :name, :size => 40, :class => 'span12' %></div>
        </div>
        <div class="control-group">
          <%= f.label :pname, '姓名：', :class => 'control-label' %>
          <div class="controls"><%= f.text_field :pname, :class => 'span12' %></div>
        </div>
        <div class="control-group">
          <%= f.label :password, '密码：', :class => 'control-label' %>
          <div class="controls"><%= f.password_field :password, :size => 40, :class => 'span12' %></div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, '重复密码：', :class => 'control-label' %>
          <div class="controls"><%= f.password_field :password_confirmation, :size => 40, :class => 'span12' %></div>
        </div>
        <div class="control-group">
          <%= f.label :role_id, '角色：', :class => 'control-label' %>
          <div class="controls"><%= f.select :role_id, Origin::Role.all.map { |role| [role.name, role.id] }, :class => 'styled' %></div>
        </div>
        <div class="form-actions align-right">

          <button type="submit" class="btn btn-primary">提交</button>
          <button type="button" class="btn btn-danger" onclick="history.back()">取消</button>
          <button type="reset" class="btn">重置</button>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>