<%= form_for(@category) do |f| %>
    <% if @category.errors.any? %>
        <div class="well-white body">
          <div class="nav">
            <div class="navbar-inner">
              <h6><strong><span class="badge badge-important"><%= @category.errors.count %></span>个验证条件没有通过</strong>
              </h6>
            </div>
          </div>
          <div class="well-white body">
            <ul class="alert alert-error">
              <% @category.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <div class="well-white body">
      <table class="table table-bordered">
        <tr>
          <td>分类：</td>
          <td> <%= select(:category, :Type, [['原料', "原料"], ['产品', "产品"]]) %></td>
        </tr>
        <tr>
          <td>品目：</td>
          <td> <%= f.text_field :Name, {:Class => "input-large"} %></td>
        </tr>

      </table>
      <div class="align-center">
        <%= f.submit("确定", {:Class => "btn btn-primary btn-large"}) %>
      </div>
    </div>
<% end %>
<script>

    //    $(document).ready(function () {
    //        $(".field_with_errors").each(function () {
    //            alert(this);
    //            $(this).addClass("control-group error");
    //        });
    //    });
</script>