<div class="row-fluid">
  <div class="right-content span6">
    <div class="nav">
      <div class="navbar-inner"><h6><b>品目列表</b></h6></div>
    </div>
    <div class="well-white body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="span2">品目名称</th>
          <th class="span2">分类</th>
          <th class="span2"></th>
        </tr>
        </thead>

        <tbody>
        <% @categories.each do |category| %>
            <tr>
              <td><%= category.Name %></td>
              <td><%= category.Type %></td>
              <td><%= link_to '查看', category %>&nbsp;<%= link_to '编辑', edit_category_path(category) %>&nbsp;<%= link_to '删除', category, method: :delete, data: {confirm: '是否删除?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="align-center">
        <%= link_to '新建品目', new_category_path, {:class => "btn btn-primary"} %>
      </div>
    </div>
  </div>
</div>
