<p id="notice">
  <%= h notice %>
</p>
<div class="row-fluid">
  <div class="right-content span4">
    <div class="nav">
      <div class="navbar-inner"><h3>品目查看</h3></div>
    </div>
    <div class="well-white body">
      <div class="nav">
        <div class="navbar-inner"><h6>
          <span><strong>分类:</strong><%= @category.Type %></span>
          <span><strong>品目:</strong><%= @category.Name %></span>
        </h6></div>
      </div>
      <div class="well-white body">
        <%= render :partial => "sub" %>
      </div>
      <%= render :partial => "new_sub" %>
    </div>
  </div>
</div>
</div>
