<p id="notice"><%= notice %></p>
<p>
  <strong>分类:</strong>
  <%= @category.Type %>
</p>

<p>
  <strong>品目:</strong>
  <%= @category.Name %>
</p>

<%= render :partial =>  "sub" %>
<%= render :partial => "new_sub" %>

<%= link_to '编辑', edit_category_path(@category) %> |
<%= link_to '后退', categories_path %>
