<p id="notice"><%= notice %></p>

<p>
  <strong>Baseorder:</strong>
  <%= @order_item_hi.BaseOrder_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order_item_hi.Item_id %>
</p>

<p>
  <strong>Baseprice:</strong>
  <%= @order_item_hi.BasePrice %>
</p>

<p>
  <strong>Salprice:</strong>
  <%= @order_item_hi.SalPrice %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order_item_hi.Discount %>
</p>

<p>
  <strong>Createtime:</strong>
  <%= @order_item_hi.CreateTime %>
</p>

<p>
  <strong>Batchid:</strong>
  <%= @order_item_hi.BatchId %>
</p>

<p>
  <strong>Godown:</strong>
  <%= @order_item_hi.GoDown_id %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @order_item_hi.Sum %>
</p>

<p>
  <strong>Exceuser:</strong>
  <%= @order_item_hi.ExceUser %>
</p>

<p>
  <strong>Excedate:</strong>
  <%= @order_item_hi.ExceDate %>
</p>

<%= link_to 'Edit', edit_order_item_hi_path(@order_item_hi) %> |
<%= link_to 'Back', order_item_his_path %>
