<div id="sidebar">

  <div class="sidebar-tabs">
    <ul class="tabs-nav two-items">
      <li><a href="#general" title=""><i class="icon-reorder"></i></a></li>
      <li><a href="#stuff" title=""><i class="icon-cogs"></i></a></li>
    </ul>

    <div id="general">

      <!-- Main navigation -->
      <ul class="navigation widget">
        <% Origin::Site.current_site.sidebar_items.each do |p_item| %>
          <li<%= ' class=active' if current_page?(p_item.url) %>>
            <a href="<%= p_item.url %>" title="" <%= 'class=expand' unless p_item.url == '/' %> <%= 'id=current' unless (p_item.sub_items.to_ary.delete_if {|i| !current_page?(i.url)}).empty? %>>
              <i class="icon-home"></i>
              <%= p_item.name %>
              <%= raw "<strong>#{p_item.sub_items.count}</strong>" unless p_item.sub_items.empty? %>
            </a>
            <% unless p_item.sub_items.empty? %>
              <ul>
                <% p_item.sub_items.each do |s_item| %>
                  <li>
                    <%=
                        link_to_unless_current(s_item.name, s_item.url) do
                          link_to(s_item.name, s_item.url, {class: 'current'})
                        end
                    %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>

      </ul>
      <!-- /main navigation -->
    </div>
  </div>

</div>