<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title><%= Origin::Site.current_site.title %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<!-- Fixed top -->
<div id="top">
  <div class="fixed">
    <a href="index.html" title="" class="logo"><img src="/p/img/logo.png" alt=""/></a>
    <ul class="top-menu">
      <li><a class="fullview"></a></li>
      <li><a class="showmenu"></a></li>
      <li><a href="#" title="" class="messages"><i class="new-message"></i></a></li>
      <li class="dropdown">
        <a class="user-menu" data-toggle="dropdown"><img src="/p/img/userpic.png" alt=""/><span>Howdy, Eugene! <b class="caret"></b></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" title=""><i class="icon-user"></i>Profile</a></li>
          <li><a href="#" title=""><i class="icon-inbox"></i>Messages<span class="badge badge-info">9</span></a></li>
          <li><a href="#" title=""><i class="icon-cog"></i>Settings</a></li>
          <li><%= link_to raw('<i class="icon-remove"></i>Logout'), origin_logout_path, :method => :delete %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /fixed top -->

<!-- Content container -->
<div id="container">
  <!-- Sidebar -->
  <%= render :partial => 'common/sidebar' %>
  <!-- /Sidebar -->
  <!-- Content -->
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
